.formControl.error input,
.formControl.error textarea {
    border: solid black 3px;
}

.formControl.error span {
    color: black;
}

.formSummaryError{
    border: red 3px solid;
    border-radius: 20px;
    padding: 3px;
    color: red;
}